---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for sect in site.sects %}
      <li>
       <a id="designer-templates" class="anchor" href="#{{ sect.url | prepend: site.baseurl }}" aria-hidden="true"><span class="octicon octicon-link"></span></a>
          <a class="post-link" href="{{ sect.url | prepend: site.baseurl }}">{{ sect.title }}</a>
        </h2>
        
        {% if sect.description %}
        <p>{{ sect.description }}</p>
        {% endif %}        
        
        </span>
      </li>
    {% endfor %}
  </ul>

</div>

