---
layout: default
---

<div class="home">

    <aside id="sidebar">
	    <h1>Recent Posts</h1>
		<ul class="posts">
			{% for post in site.posts limit:20 %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo;
			<a href="{{ BASE_PATH }}{{ post.url }}"> {{ post.title }}</a></li> {% endfor
			%}
		</ul>
	</aside>
	
	<h1>Sections</h1>
	<ul class="post-list">
		{% for sect in site.sects %}
		<li><a id="designer-templates" class="anchor"
			href="#{{ sect.url | prepend: site.baseurl }}" aria-hidden="true"><span
				class="octicon octicon-link"></span></a> <a class="post-link"
			href="{{ sect.url | prepend: site.baseurl }}">{{ sect.title }}</a>
			</h2> {% if sect.description %}
			<p>{{ sect.description }}</p> {% endif %} </span></li> {% endfor %}
	</ul>
</div>

