<div id="nav-wrapper">
  <div id="nav-inner">
    <ul id="nav">
      
        {% if includes.url == '/' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
            <a href="/">Home</a>
          </li>

        {% for sect in site.sects %}
		  {% if includes.url == sect.url %}
		    <li class="activenav">
		  {% else %}
		    <li class="basicnav">
		  {% endif %}
		      <a href="{{ sect.url }}">{{ sect.title }}</a>
		    </li>          
        {% endfor %}
          
        {% if includes.url == '/about/' %}
          <li class="activenav">
        {% else %}
          <li class="basicnav">
        {% endif %}
            <a href="/about/">About</a>
          </li>
    </ul>
  </div>
</div>

