<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include nav.html url=page.url %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      
      <br><br><br>
      
      <div>
        {% unless page.disablecomments %}
          {% include disqusComments.html url=page.url title=page.title %}
        {% else %}
  	      AAA
        {% endunless %}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>
