---
layout: default
---

<article class="category">

  <ul class="post-list">
  
    <h1>Welcome to the {{ page.title }} section!</h1>
    {{ content }}
  	<br>
  	
    {% for post in site.posts %}
      {% if post.categories contains page.sect %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        
        <h2>
       <a id="designer-templates" class="anchor" href="#{{ post.url | prepend: site.baseurl }}" aria-hidden="true"><span class="octicon octicon-link"></span></a>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}        
        
        </span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
  RSS coming soon?

</article>
